* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
max-width: max-content;
margin: auto;
}

main {
   max-width: 840rem; 
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

main div {
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    padding-left: 5 rem;
}

aside {
    width: auto;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 2rem;
    left: 6rem;
}

p {
    padding: 1rem;
    width: 50rem;
    overflow: auto;
}

footer {
    margin-top: 3rem;
    border-top: 3px solid rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 1rem;
}

nav {
    font-size: 1.5rem;
    display: flex;
    background-color: rgb(226, 158, 221);
}

nav a {
    display: block;
    text-decoration: none;
    padding: 5px;

}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* class selectors */

.box {
    margin: 2rem;
    border: 2px solid rgba(0, 0, 0, 1);
    padding: 1.5rem;
    background-color: rgb(247, 156, 212);
    color:rgb(41, 3, 3)

}
